/* stylelint-disable */
@import './highlight.scss';
$container-width: 100% !default;

.app-head {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(white, .9);
  z-index: 100;
  box-shadow: 0 2px 8px #f0f1f2;

  .app-head__inner {
    width: $container-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 2rem;
  }

  .app-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #43a3fb;
    user-select: none;
  }

  .app-nav {
    margin-left: 1.25rem;
    text-align: right;
    flex: 1 1 auto;
    width: 1%;
    height: 100%;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 100%;
      display: inline-flex;
    }

    li {
      display: inline-flex;
      align-items: center;
      font-size: 15px;
      padding: .5rem 1.25rem;
      margin-left: 1.25rem;
    }

    li:last-child {
      padding-right: 0;
    }

    a {
      display: block;
      color: #464c5b;
      text-decoration: none;

      &:hover {
        color: #43a3fb;
      }
    }
  }
}

.app-aside {
  width: 280px;
  height: 100%;
  overflow: hidden;
  padding-left: 2rem;
  border-right: 1px solid #f0f1f2;
  padding-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  .app-aside__nav {
    margin-right: -20px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    padding-top: 40px;
  }

  .nav-group {
    + .nav-group {
      margin-top: 2rem;
    }

    margin-right: 20px;
    font-size: 14px;

    .nav-group__title {
      margin: 0;
      padding: 0;
      line-height: 30px;
      font-size: 1rem;
      font-weight: bold;
    }

    .nav-group__items {
      margin: 10px 0 0 0;
      padding: 0;
      list-style: none;
    }

    .nav-group__item {
      a {
        display: block;
        line-height: 20px;
        padding: 10px 0;
        color: #9ea8b4;
        text-decoration: none;
        // text-decoration: line-through;
        cursor: default;

        small {
          margin-left: 10px;
        }

        &[href] {
          cursor: pointer;
          color: #464c5b;
          small {
            color: #657180;
          }
          &:hover {
            color: #43a3fb;
            small {
              color: inherit;
            }
          }
        }
      }
    }
  }
}

.app-container {
  margin: 60px 0 0 280px;
}

// .app-main {
//   // width: $container-width;
//   // padding: 0;
//   // margin: 0 auto;
//   // height: 100vh;
//   // position: relative;
//   // display: flex;
//   // flex-flow: row nowrap;
//   // overflow: hidden;

//   > .app-aside {
//     width: 280px;
//     height: 100%;
//     overflow: hidden;
//     padding-left: 2rem;
//     border-right: 1px solid #f0f1f2;
//     padding-top: 60px;
//   }

  

//   > .app-container {
//     width: 1px;
//     flex: 1 1 auto;
//     height: 100%;
//     overflow-x: hidden;
//     overflow-y: auto;
//     padding-top: 60px;
//   }
// }

.app-container .app-viewport {
  padding: 20px 2rem;

  section {
    
    blockquote {
      background-color: #f4f7fc;
      padding: 1rem;

      p {
        margin-bottom: 0;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #232323;
  }

  h1 {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 30px
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px
  }

  h3 {
    font-size: 18px;
    margin-top: 2.5rem;
  }
}

.code-view {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #dce3f3;

  .code-view__view,
  .code-view__detail {
    padding: 20px;
    border-bottom: 1px solid #dce3f3;
  }

  .code-view__detail {
    display: none;
  }

  &.source-opened {
    .code-view__detail {
      display: block;
    }
  }

  .code-view__ctrl {
    user-select: none;
    display: block;
    border: none;
    text-align: center;
    padding: 10px 20px;
    line-height: 20px;
    width: 100%;
    background-color: transparent;
    outline: none;
    color: #257cef;
    font-family: inherit;
    cursor: pointer;

    &:hover,&:active {
      background-color: #e9f5fe;
    }
  }

  .code-view__describe {
    color: #657180;
  }

  .code-view__source {
    > :last-child {
      margin-bottom: 0;
    }

    pre {
      margin: 0;
    }
  }
}

.doc-row {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  .doc-row__title {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
    font-weight: bold;
  }

  .doc-row__describe {
    font-size: 12px;
    color: #7b7e82;
    margin-bottom: 10px;
  }

  .doc-row__body {
    position: relative;
  }

  .doc-cells {
    font-size: 0;

    .doc-cell {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;

      + .doc-cell {
        margin-left: 20px;
      }
    }
  }

  + .doc-row {
    margin-top: 20px;
  }

  .nv-input-group,
  .nv-input-row,
  .nv-input-suffix,
  .nv-input-prefix {
    max-width: 440px;
  }
}

.doc-row__body .nv-btn + .nv-btn {
  margin-left: 1rem;
}

// 首页
.index {
  position: absolute;
  top: 0;
  left: 0;
  height: 65vh;
  width: 100%;
  background-image: linear-gradient(135deg, #fff6b7 0%, #f6416c 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 3.5rem;
    color: #fff;
  }

  .index-btns {
    margin-top: 1rem;
    font-size: 0;

    .nv-btn {
      margin: 0 20px;
    }
  }
}

// 页面tabs
.doc-tabs {
  display: inline-block;
  list-style: none;
  margin: -20px auto 1rem -2rem;
  padding: 0;
  user-select: none;
  position: sticky;
  top: 0;
  z-index: 101;

  .doc-tabs__item {
    display: inline-flex;
    // border: 1px solid #f0f1f2;
    border-bottom: none;
    font-size: 1rem;
    margin-left: -1px;
    position: relative;
    cursor: pointer;

    a {
      height: 60px;
      line-height: 30px;
      display: block;
      padding: 15px 2.5rem;
      position: relative;
      z-index: 2;
      color: #464c5b;
    }

    &.doc-tabs--actived {
      border-bottom: 2px solid #257cef;

      a {
        color: #257cef;
      }
    }
  }
}

.doc-panel {
  padding: 20px 0;
  display: none;

  &.doc-panel--actived {
    display: block;
  }
}


.demo-icon-list {
  .font-set {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;
    .set-cell {
      display: inline-flex;
      + .set-cell {
        margin-left: 10px;
      }
      &.set-cell--slider {
        min-width: 280px;
      }
    }
  }

  .icon-rows {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    font-size: 2rem;
    // user-select: none;
    li {
      width: 1 / 6 * 100%;
      padding: 1rem .5rem;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #dce3f3;
      margin-top: -1px;
      margin-left: -1px;
      cursor: pointer;

      i {
        font-size: inherit;
      }

      span {
        font-size: 12px;
        margin-top: 10px;
      }

      &:hover,
      &:active {
        transition: all .2s;
        background-color: #43a3fb;
        position: relative;
        border-color: #43a3fb;
        transform: scale(1.2);
        transform-origin: center;
        i,
        span {
          color: white!important;
        }
      }
    }
  }

}


// dmo
.table-demo-thumb {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0;
  background-color: rgb(183, 180, 204);
}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 40px;
  max-width: 100%;
  width: 100%;

  td, th {
    border-bottom: 1px solid #ebeef5;
    padding: 10px;
  }

  > thead {
    th, td {
      font-weight: 700;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  > tbody {
    tr:hover {
      background-color: #f6faff;
    }
  }
}

pre, code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}
pre {
  margin: 1rem 0;
  line-height: 1.8;
  font-size: 12px;
  padding: 16px 20px;
  background-color: #fafafa;
  border: 1px solid #eaeefb;
  margin-bottom: 25px;
  border-radius: 4px;
  -webkit-font-smoothing: auto;
}

.doc-skeleton {
  background: url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAABSYAAADCCAYAAABUvxx4AAAGK0lEQVR4nO3asZHkMBAEweMFLRr/bYBLfNKBFwu3y0wBKlqumOO6rbV+AAAAAIDvMTO7J/zX7+4BAAAAAMD7CJMAAAAAQE6YBAAAAABywiQAAAAAkBMmAQAAAICcMAkAAAAA5IRJAAAAACAnTAIAAAAAOWESAAAAAMgJkwAAAABATpgEAAAAAHLCJAAAAACQEyYBAAAAgNxx3XaPAAAAAADexcUkAAAAAJATJgEAAACAnDAJAAAAAOSESQAAAAAgJ0wCAAAAADlhEgAAAADICZMAAAAAQE6YBAAAAABywiQAAAAAkDufZ621ewcAAAAA8BIz42ISAAAAAOgJkwAAAABATpgEAAAAAHLCJAAAAACQEyYBAAAAgJwwCQAAAADkhEkAAAAAICdMAgAAAAA5YRIAAAAAyAmTAAAAAEBOmAQAAAAAcsIkAAAAAJATJgEAAACA3HHddo8AAAAAAN7FxSQAAAAAkBMmAQAAAICcMAkAAAAA5IRJAAAAACAnTAIAAAAAOWESAAAAAMgJkwAAAABATpgEAAAAAHLCJAAAAACQO59nrbV7BwAAAAB8lJnZPeGjuZgEAAAAAHLCJAAAAACQEyYBAAAAgJwwCQAAAADkhEkAAAAAICdMAgAAAAA5YRIAAAAAyAmTAAAAAEBOmAQAAAAAcsIkAAAAAJATJgEAAACAnDAJAAAAAOSESQAAAAAgd1y33SMAAAAAgHdxMQkAAAAA5IRJAAAAACAnTAIAAAAAOWESAAAAAMgJkwAAAABATpgEAAAAAHLCJAAAAACQEyYBAAAAgNz5PGut3TsAAAAA+GIzs3sCf4yLSQAAAAAgJ0wCAAAAADlhEgAAAADICZMAAAAAQE6YBAAAAABywiQAAAAAkBMmAQAAAICcMAkAAAAA5IRJAAAAACAnTAIAAAAAOWESAAAAAMgJkwAAAABATpgEAAAAAHLHdds9AgAAAAB4FxeTAAAAAEBOmAQAAAAAcsIkAAAAAJATJgEAAACAnDAJAAAAAOSESQAAAAAgJ0wCAAAAADlhEgAAAADICZMAAAAAQO58nrXW7h0AAAAAwGYzk/3lYhIAAAAAyAmTAAAAAEBOmAQAAAAAcsIkAAAAAJATJgEAAACAnDAJAAAAAOSESQAAAAAgJ0wCAAAAADlhEgAAAADICZMAAAAAQE6YBAAAAABywiQAAAAAkBMmAQAAAIDccd12jwAAAAAA3sXFJAAAAACQEyYBAAAAgJwwCQAAAADkhEkAAAAAICdMAgAAAAA5YRIAAAAAyAmTAAAAAEBOmAQAAAAAcsIkAAAAAJA7n2ettXsHAAAAAHy9mdk94c9wMQkAAAAA5IRJAAAAACAnTAIAAAAAOWESAAAAAMgJkwAAAABATpgEAAAAAHLCJAAAAACQEyYBAAAAgJwwCQAAAADkhEkAAAAAICdMAgAAAAA5YRIAAAAAyAmTAAAAAEDuuG67RwAAAAAA7+JiEgAAAADICZMAAAAAQE6YBAAAAABywiQAAAAAkBMmAQAAAICcMAkAAAAA5IRJAAAAACAnTAIAAAAAOWESAAAAAMidz7PW2r0DAAAAANhsZrK/XEwCAAAAADlhEgAAAADICZMAAAAAQE6YBAAAAABywiQAAAAAkBMmAQAAAICcMAkAAAAA5IRJAAAAACAnTAIAAAAAOWESAAAAAMgJkwAAAABATpgEAAAAAHLCJAAAAACQO67b7hEAAAAAwLu4mAQAAAAAcsIkAAAAAJATJgEAAACAnDAJAAAAAOSESQAAAAAgJ0wCAAAAADlhEgAAAADICZMAAAAAQE6YBAAAAABy5/OstXbvAAA+xMzsngAAAHwBF5MAAAAAQE6YBAAAAABywiQAAAAAkBMmAQAAAICcMAkAAAAA5IRJAAAAACAnTAIAAAAAOWESAAAAAMgJkwAAAABATpgEAAAAAHLCJAAAAACQEyYBAAAAgJwwCQAAAADkjuu2ewQAAAAA8C4uJgEAAACAnDAJAAAAAOSESQAAAAAgJ0wCAAAAADlhEgAAAADICZMAAAAAQE6YBAAAAABywiQAAAAAkBMmAQAAAICcMAkAAAAA5IRJAAAAACAnTAIAAAAAuX/CQT1mQ+8fAAAAAABJRU5ErkJggg==) repeat-y;
  background-size: 100% auto;
}