/*
 * File: _button.scss
 * Project: @vnnox/novaui
 * Description: 生成按钮样式，尺寸的mixin函数
 * Created: 2018-10-26 11:39
 * Author: smohan (mengxw@novastar.tech)
 * -----
 * Last Modified: 2018-10-29 11:15
 * Modified By: smohan (mengxw@novastar.tech>)
 * -----
 * Copyright 2018, NovaStar Tech Co., Ltd
 */

@mixin ButtonSpreadStyle ($map) {
  border-color: map-get($map: $map, $key: border);
  color: map-get($map: $map, $key: color);
  background-color: map-get($map: $map, $key: background);
}

@mixin ButtonSize ($height, $font-size, $padding-x) {
  $y: (strip-units($height) - strip-units($font-size * $btn-line-height) - 2) / 2 * 1px;

  height: $height;
  font-size: $font-size;
  padding: $y $padding-x;
}

@mixin ButtonStyle ($normal, $hover) {
  @if ($normal) {
    @include ButtonSpreadStyle($normal);
  }

  @if ($hover) {
    &:not([disabled]):not(.nv-disabled):not(.nv-actived) {
      &:hover,
      &:active,
      &.is-focus {
        @include ButtonSpreadStyle($hover);
      }
    }
  }
}
