/*
 * File: _color.scss
 * Project: @vnnox/novaui
 * Description: 颜色配置文件
 * Created: 2018-10-25 03:56
 * Author: smohan (mengxw@novastar.tech)
 * -----
 * Last Modified: 2018-10-29 11:13
 * Modified By: smohan (mengxw@novastar.tech>)
 * -----
 * Copyright 2018, NovaStar Tech Co., Ltd
 */

// 主色调
// $color-primary: #43a3fb !default;

// 标题色
// $color-title: #464c5b !default;
// // 主文本色
// $color-text: #464c5b !default;

// // 占位符色
// $color-text--placeholder: #9ea8b4 !default;
// 描边色
// $color-line: #dce3f3 !default;
// 加深描边
$color-line-dark: #c9cace !default;
// 文字禁用
$color-text-disabled: $color-line-dark !default;
// 按钮hover，active
// $color-btn-hover: #3b93ff !default;
// 链接色
// $color-link: #257cef !default;
// $color-btn-hover-bg: #dcf0fe !default;
// 禁用背景色
$color-bg-disabled: #fbfcfe !default;

// btn

// $btn-group-hover: (color: $color-btn-hover, border: $color-btn-hover, background: white) !default;

// $btn-group-actived: (color: $color-btn-hover, border: $color-btn-hover, background: $color-btn-hover-bg) !default;

// switch 默背景色
$color-switch-bg: #dcdfe6 !default;
// 输入框(inputNumber)小三角默认色
$color-spin: #9caacc !default;
$color-spin-disabled: #d5dbea !default;

// select
// $color-select-hover: #f3f9ff !default;

// tag
$color-tag-line: #d9ecff !default;
$color-tag-bg: #ecf5ff !default;
$color-tag-color: $color-primary !default;
$color-tag-error-line: #fde2e2 !default;
$color-tag-error-bg: #fef0f0 !default;
$color-tag-error-color: #f56c6c !default;
