$font-family-base: 'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,'Helvetica Neue',Helvetica !default;

$font-family-code:Menlo,Monaco,Consolas,'Liberation Mono','Courier New' monospace !default;

$font-size-root: 16px !default;
$font-size-title: 15px !default;
$font-size-nav: 14px !default;
$font-size-base: 12px !default;
$line-height-base: 1.5 !default;

// btn
$btn-font-size: $font-size-base !default;
$btn-radius: 4px !default;
$btn-height: 32px !default;
$btn-padding-x: 20px !default;
$btn-line-height: 1.5 !default;
$btn-disabled-opacity: .4 !default;

$btn-height-small: 28px !default;
$btn-padding-x-small: 15px !default;

// input
$input-font-size:  $font-size-base !default;
$input-radius: 4px !default;
$input-height: 32px !default;
$input-padding-x: 12px !default;
$input-line-height: 1.5 !default;
$input-disabled-line: #dce3fc !default;
$input-disabled-background: #fbfcfe !default;
$input-disabled-color: #c9cace !default;
$input-height-small: 28px !default;
$input-padding-x-small: 10px !default;
// transition 运动曲线
$transition-timing-function: cubic-bezier(.645, .045, .355, 1) !default;
