/*
 * File: _variables.scss
 * Project: @vnnox/novaui
 * Description: 全局变量
 * Created: 2018-10-25 03:57
 * Author: smohan (mengxw@novastar.tech)
 * -----
 * Last Modified: 2018-10-29 11:14
 * Modified By: smohan (mengxw@novastar.tech>)
 * -----
 * Copyright 2018, NovaStar Tech Co., Ltd
 */

$font-family-base: 'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,'Helvetica Neue',Helvetica !default;

$font-family-code:Menlo,Monaco,Consolas,'Liberation Mono','Courier New' monospace !default;

$font-size-root: 16px !default;
$font-size-title: 15px !default;
$font-size-nav: 14px !default;
$font-size-base: 14px !default;
$line-height-base: 1.5 !default;

// btn
$btn-font-size: $font-size-base !default;
$btn-radius: 4px !default;
$btn-height: 32px !default;
$btn-padding-x: 20px !default;
$btn-line-height: 1.2 !default;
$btn-disabled-opacity: .4 !default;

$btn-height-small: 28px !default;
$btn-padding-x-small: 15px !default;

$btn-height-tiny: 20px !default;

// input
$input-font-size:  $font-size-base !default;
$input-radius: 4px !default;
$input-height: 32px !default;
$input-padding-x: 12px !default;
$input-line-height: 1.5 !default;
$input-disabled-color: $color-text--disabled !default;
$input-height-small: 28px !default;
$input-padding-x-small: 10px !default;
// transition 运动曲线
$transition-timing-function: cubic-bezier(.645, .045, .355, 1) !default;

// checkbox选中的√
$checkbox-icon: url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAYAAAAvOAWIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3JpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpjMDQyN2Q5OS0yZDNjLTQyNjUtODQyOS05Mjc1ODU3ZWY0NzEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OEEyRTE5MjRGQkVDMTFFNzhBODdFNENCOTZCQ0NEMjEiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OEEyRTE5MjNGQkVDMTFFNzhBODdFNENCOTZCQ0NEMjEiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpjYmRiNjg3Mi0wMzE2LTQ5MTktOTgwZC00MzA2NDExNGNlNDgiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6YzA0MjdkOTktMmQzYy00MjY1LTg0MjktOTI3NTg1N2VmNDcxIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+eTDD+wAAAJ5JREFUeNpiYSAAVGve8wOp7UAswkRAIReQ2gXElkD8jQkooAfEyjgUbgFiMyC+C8TeIJNPAvE5oKQJkkI2ILURiB2B+B4QO9xuEXzKCJSYB+QkAvEbIHYC4ptAvAaIfYH4KVThHZAhLECcCsTsQBwFxPuA+AwQewDxS2SFIMAItZYVSK2FmsYAswWo8DKyPxjR3LkSiG2wKQQBgAADAIamMH/hk+3jAAAAAElFTkSuQmCC) !default;

$check-icon-disabled-opacity: $btn-disabled-opacity !default;

// color-picker
$btn-target-width: $btn-height !default;
$btn-target-height: $btn-height !default;
