/*
 * File: badge.scss
 * Project: @vnnox/novaui
 * Description: 徽标类
 * Created: 2018-10-26 04:36
 * Author: smohan (mengxw@novastar.tech)
 * -----
 * Last Modified: 2018-10-29 11:16
 * Modified By: smohan (mengxw@novastar.tech>)
 * -----
 * Copyright 2018, NovaStar Tech Co., Ltd
 */

// 因为chrome无法支持10px的字号，
// 因此font-size,padding,height等全部放大两倍，然后在缩小一半
.nv-badge {
  background-color: $color-error;
  color: white;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  line-height: 0;
  padding: 0 9px;
  font-size: 20px;
  height: 28px;
  border-radius: 14px;
  position: absolute;
  top: 0;
  right: 10px;
  transform: translateY(-50%) translateX(100%) scale(.5);
  transform-origin: left;
  user-select: none;
  cursor: default;
  vertical-align: top;
  text-transform: capitalize;
}
