/*
 * File: button.scss
 * Project: @vnnox/novaui
 * Description: 按钮类
 * Created: 2018-10-26 02:51
 * Author: smohan (mengxw@novastar.tech)
 * -----
 * Last Modified: 2018-10-29 11:16
 * Modified By: smohan (mengxw@novastar.tech>)
 * -----
 * Copyright 2018, NovaStar Tech Co., Ltd
 */

@import '../mixins/button';

// button
.nv-btn,
.nv-check__btn {
  display: inline-flex;
  -webkit-appearance: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid;
  outline: none;
  white-space: nowrap;
  border-radius: $btn-radius;
  line-height: $btn-line-height;
  text-decoration: none;
  position: relative;
  @include ButtonSize($btn-height, $btn-font-size, $btn-padding-x);
}

.nv-btn {
  transition: color .2s $transition-timing-function, background-color .2s $transition-timing-function, border-color .2s $transition-timing-function;
  @include ButtonStyle($btn-default, $btn-default--hover);

  // primary
  &.nv-btn--primary {
    @include ButtonStyle($btn-primary, $btn-primary--hover);
  }

  // small size
  &.nv-btn--small {
    @include ButtonSize($btn-height-small, $btn-font-size, $btn-padding-x-small);
  }

  // 纯icon
  &.nv-btn--icon-pure {
    padding-left: 10px;
    padding-right: 10px;
  }

  // 大圆角
  &.nv-btn--pill {
    border-radius: 200px;
  }

  // disabled
  &:disabled,
  &.nv-disabled {
    opacity: $btn-disabled-opacity;
    cursor: not-allowed;
  }

  [class^="nv-icon-"], [class*=" nv-icon-"] {
    margin: 0 5px;
  }

  > :first-child {
    margin-left: 0;
  }

  > :last-child {
    margin-right: 0;
  }

  &.nv-fluid {
    width: 100%;
  }

  &.nv-btn--link,
  &.nv-btn--text {
    border: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  &.nv-btn--link {
    color: $color-link !important;
  }

  &.nv-btn--text {
    color: $color-text !important;
  }
}

a.nv-btn:hover {
  text-decoration: none;
}

// button group
.nv-btns {
  display: inline-flex;
  font-size: 0;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  > .nv-btn {
    margin-left: 0;
    transition: none;
    @include ButtonStyle(false, $btn-group--hover);

    + .nv-btn {
      margin-left: -1px !important;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not([disabled]):not(.nv-actived):active,
    &:not([disabled]):not(.nv-actived):hover {
      position: relative;
      z-index: 1;
    }

    &.nv-actived {
      position: relative;
      z-index: 2;
      @include ButtonSpreadStyle($btn-group--actived);
    }
  }

  &.nv-btns--primary {
    > .nv-btn.nv-actived {
      @include ButtonSpreadStyle($btn-primary);

      + .nv-btn.nv-actived {
        box-shadow: -1px 0 0 0 $color-info--lighten;
      }
    }
  }
}
