/*
 * File: check.scss
 * Project: @vnnox/novaui
 * Description: checkbox, radio, switch
 * Created: 2018-10-26 02:51
 * Author: smohan (mengxw@novastar.tech)
 * -----
 * Last Modified: 2018-10-29 11:17
 * Modified By: smohan (mengxw@novastar.tech>)
 * -----
 * Copyright 2018, NovaStar Tech Co., Ltd
 */

@import '../mixins/button';

@mixin ElementStyle {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  font-size: $font-size-base;
  margin: 0;
}

@mixin InputStyle {
  -webkit-appearance: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

.nv-radio {
  .nv-radio__icon,
  .nv-radio__label {
    @include ElementStyle();
  }

  input[type="radio"] {
    @include InputStyle();
  }

  .nv-radio__label {
    padding: 0 5px;
  }
}

.nv-checkbox {
  .nv-checkbox__icon,
  .nv-checkbox__label {
    @include ElementStyle();
  }

  input[type="checkbox"] {
    @include InputStyle();
  }

  .nv-checkbox__label {
    padding: 0 5px;
  }
}

.nv-switch {
  .nv-switch__icon,
  .nv-switch__label {
    @include ElementStyle();
  }

  input[type="checkbox"] {
    @include InputStyle();
  }

  .nv-switch__label {
    padding: 0 5px;
  }
}

.nv-checkbox,
.nv-radio,
.nv-switch {
  display: inline-block;
  font-size: 0;
  line-height: 16px;
  margin: 0;
  padding: 0;
  position: relative;
  user-select: none;
  white-space: nowrap;
  outline: 0;

  + .nv-checkbox,
  + .nv-radio,
  + .nv-switch {
    margin-left: 20px;
  }

  > :first-child {
    padding-left: 0;
  }

  > :last-child {
    padding-right: 0;
  }
}

.nv-check-group {
  font-size: 0;
  user-select: none;
  padding-left: 1px;

  .nv-check-item {
    margin: 0;
    display: inline-block;
    outline: 0;
    font-size: $font-size-base;
    margin-left: -1px;

    .nv-check__btn {
      position: relative;
      @include ButtonSpreadStyle($btn-default);
    }

    &:not(:first-child):not(:last-child) .nv-check__btn {
      border-radius: 0;
    }

    &:first-child:not(:last-child) .nv-check__btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child:not(:first-child) .nv-check__btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    // &:not(:first-child) {
    //   margin-left: -1px;
    // }

    input[type="checkbox"],
    input[type="radio"] {
      @include InputStyle();

      &:checked ~ .nv-check__btn {
        z-index: 2;
        @include ButtonSpreadStyle($btn-group--actived);
      }

      &:disabled ~ .nv-check__btn {
        opacity: $btn-disabled-opacity;
        cursor: not-allowed;
      }

      &:not([disabled]):not(:checked) ~ .nv-check__btn:hover {
        z-index: 1;
        @include ButtonSpreadStyle($btn-group--hover);
      }
    }
  }

  // 小尺寸
  &.nv-check--small .nv-check-item .nv-check__btn {
    @include ButtonSize($btn-height-small, $btn-font-size, $btn-padding-x-small);
  }

  &.nv-check--primary .nv-check-item {
    input[type="checkbox"],
    input[type="radio"] {
      &:checked ~ .nv-check__btn {
        z-index: 0;
        box-shadow: -1px 0 0 0 $color-info--lighten;
        @include ButtonSpreadStyle($btn-primary);
      }
    }
  }
}
