.nv-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  pointer-events: none;

  .nv-loader__backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &::before,
  .nv-loader__inner {
    display: inline-block;
    vertical-align: middle;
  }

  &::before {
    content: '';
    height: 100%;
  }

  .nv-loader__inner {
    font-size: $font-size-base;
    position: relative;
    z-index: 1;
  }

  .nv-loader__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nv-loader__spin {
    width: 36px;
    height: 36px;
    position: relative;
    display: inline-block;
    margin: 5px;

    .circular {
      width: 100%;
      height: 100%;
      animation: loading-rotate 2s linear infinite;
    }

    .path {
      animation: loading-dash 1.5s ease-in-out infinite;
      stroke-dasharray: 90, 150;
      stroke-dashoffset: 0;
      stroke-width: 2;
      stroke: $color-primary;
      stroke-linecap: round;
    }
  }

  .nv-loader__label {
    color: $color-text--placeholder;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
  }

  &.nv-loader--vertical {
    .nv-loader__content {
      flex-direction: column;
    }

    .nv-loader__spin,
    .nv-loader__label {
      display: block;
    }
  }

  &.nv-loader--fullscreen {
    position: fixed;
  }
}

@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}
