/*
 * File: radio.scss
 * Project: @vnnox/novaui
 * Description: 单选框类
 * Created: 2018-10-26 09:01
 * Author: smohan (mengxw@novastar.tech)
 * -----
 * Last Modified: 2018-10-29 11:17
 * Modified By: smohan (mengxw@novastar.tech>)
 * -----
 * Copyright 2018, NovaStar Tech Co., Ltd
 */

.nv-radio {
  .nv-radio__icon {
    width: 16px;
    height: 16px;
    border: 1px solid $color-line;
    border-radius: 50%;
    background-color: white;
    z-index: 1;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $color-primary;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  > input[type="radio"] {
    &:checked {
      ~ .nv-radio__icon {
        &::before {
          transition: opacity .15s cubic-bezier(.71, -.46, .88, .6);
          opacity: 1;
        }
      }
    }

    &:not([disabled]):not([checked]) {
      ~ .nv-radio__icon:hover {
        border-color: $color-line--dark;
      }
    }

    &:disabled {
      ~ .nv-radio__icon {
        opacity: $check-icon-disabled-opacity;
        cursor: not-allowed;
      }

      ~ .nv-radio__label {
        color: $color-text--disabled;
        cursor: not-allowed;
      }
    }
  }
}
