.nv-tag {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: $btn-font-size;
  height: $btn-height;
  line-height: 1.2;
  max-width: 240px;
  font-weight: normal;
  border: 1px solid $color-tag-line;
  background-color: $color-tag-bg;
  color: $color-tag-color;
  user-select: none;
  border-radius: $btn-radius;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  + .nv-tag {
    margin-left: 10px;
  }

  .nv-tag__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nv-tag__close {
    min-width: 12px;
    width: 12px;
    height: 12px;
    line-height: 1;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    margin-left: 10px;
  }

  &.nv-tag--error {
    border-color: $color-tag-error-line;
    background-color: $color-tag-error-bg;
    color: $color-tag-error-color;
  }

  &.nv-tag--small {
    height: $btn-height-small;
    padding-left: 5px;
    padding-right: 5px;
  }

  &.nv-tag--small,
  &.nv-tag--tiny {
    height: $btn-height-small;
    padding-left: 5px;
    padding-right: 5px;
  }

  &.nv-tag--tiny {
    height: $btn-height-tiny;
  }
}
