.nv-tree {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: $font-size-base;

  .tree-node__children {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
  }

  .nv-tree__node {
    position: relative;
    white-space: nowrap;
    outline: none;
  }

  .tree-node__inner {
    display: flex;
    align-items: center;
    height: 28px;
    line-height: 20px;
    padding: 4px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
  }

  .tree-node--leaf .tree-node__inner {
    cursor: default;
  }

  > .nv-tree__node:first-child > .tree-node__inner {
    margin-top: 0;
  }

  .tree-node__icon {
    display: flex;
    font-size: 14px;
    color: $color-text;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2px;
    cursor: pointer;

    i {
      transition: transform .2s;
    }

    &.is-leaf {
      visibility: hidden;
      color: transparent;
    }
  }

  .tree-node__check {
    width: 20px;
    height: 20px;
    padding: 2px;
    margin: 0;
    position: relative;
    cursor: pointer; // 扩大checkbox的范围，防止点击周围时触发click事件
  }

  .tree-node__label {
    @include clearFix;

    padding: 0 2px;
    user-select: text;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
  }
  // 展开时
  .tree-node--expanded {
    > .tree-node__children {
      display: block;
    }

    &.tree-node--branch {
      > .tree-node__inner > .tree-node__icon {
        //align-items: flex-start;
        justify-content: center;

        i {
          transform: rotate(90deg);
        }
        // transform: rotate(-45deg);
        // top: 0;
      }
    }
  }

  // 选中时
  .tree-node--selected > .tree-node__inner > .tree-node__label {
    color: $color-primary;
  }

  // 禁用时
  .nv-disabled {
    pointer-events: visible;

    > .tree-node__inner {
      > .tree-node__check,
      > .tree-node__label {
        cursor: default;
      }
    }
  }

  // 不可见
  .tree-node--hidden {
    display: none !important;
  }

  .nv-tree__empty {
    line-height: 24px;
    padding: 6px 0;
    color: $color-text--hint;
    cursor: text;

    &.no-match {
      color: $color-error;
    }
  }
}
