.nv-tree {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: $font-size-base;

  .tree-node__children {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
  }

  .nv-tree__node {
    position: relative;
    white-space: nowrap;
    outline: none;
  }

  .tree-node__inner {
    display: flex;
    align-items: center;
    height: 16px;
    line-height: 16px;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    margin-top: 12px;
  }

  .tree-node--leaf .tree-node__inner {
    cursor: default;
  }

  > .nv-tree__node:first-child > .tree-node__inner {
    margin-top: 0;
  }

  .tree-node__icon {
    display: flex;
    font-size: 13px;
    color: $color-text--placeholder;
    padding: 0;
    width: 20px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 2px;
    // background-color: aqua;

    i {
      transition: transform .2s;
    }

    &.is-leaf {
      visibility: hidden;
      color: transparent;
    }
    // width: 8px;
    // height: 8px;
    // border-left: 1.6px solid rgb(180, 190, 216);
    // border-bottom: 1.6px solid rgb(180, 190, 216);
    // transform: rotate(-135deg);
    // transition: transform .2s;
    // position: relative;
    // top: 1px;
    // margin-left: 3px;
    // margin-right: 8px;
  }

  .tree-node__check {
    width: 16px;
    margin-right: 5px;
    position: relative;
    cursor: pointer; // 扩大checkbox的范围，防止点击周围时触发click事件
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -4px;
      right: -4px;
    }
  }

  .tree-node__label {
    @include clearFix;

    user-select: text;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      // background-color: $color-bg-item-hover;
    }
  } // 展开时
  .tree-node--expanded {
    > .tree-node__children {
      display: block;
    }

    &.tree-node--branch {
      > .tree-node__inner > .tree-node__icon {
        //align-items: flex-start;
        justify-content: center;

        i {
          transform: rotate(90deg);
        }
        // transform: rotate(-45deg);
        // top: 0;
      }
    }
  }

  // 选中时
  .tree-node--selected > .tree-node__inner > .tree-node__label {
    // background-color: $color-bg-item-selected;
  }

  .nv-disabled {
    pointer-events: visible;

    > .tree-node__inner {
      cursor: default;

      > .tree-node__check {
        cursor: inherit;
      }

      > .tree-node__label {
        // color: $color-text--disabled;
      }
    }
  }

  // 不可见
  .tree-node--hidden {
    display: none !important;
  }

  .nv-tree__empty {
    line-height: 24px;
    padding: 6px 0;
    color: $color-text--hint;
    cursor: text;

    &.no-match {
      color: $color-error;
    }
  }
}
